##############################################################################
# gitignore
##############################################################################

# ----------------------------------------------------------------------------
# Ignore All (base settings)
# ----------------------------------------------------------------------------
/*
/.**

# ----------------------------------------------------------------------------
# WhiteList: Add path to manage in git
#
# !/.zfunc/
# /.zfunc/** # eample of when you want directory but not files inside
# ----------------------------------------------------------------------------

# dotfile installer
!/install.sh
!/Makefile

# github
!/README.md
!/LICENSE
!.gitignore
!.gitkeep

# zsh
!/.zshrc
!/.zprofile
!/.zshenv
!/.zsh/
!/.zsh/**
!/.zsh/**/*.zsh

# .claude
!/.claude

# .config
!/.config

# vim
!/.vimrc
!/.vim
/.vim/**
!/.vim/colors
!/.vim/colors/*

# vscode
!/vscode
!/vscode/**

# linter
!/.stylelintrc.js
