# ----------------------------------------------------------------------------
# Ignore All (base settings)
# ----------------------------------------------------------------------------
/*
/.**

# ----------------------------------------------------------------------------
# WhiteList: Add path to manage in git
# ----------------------------------------------------------------------------

!/.gitignore
!/AGENTS.md

# commands
!/commands/

# skills
!/skills/
/skills/**
!/skills/custom-*/
!/skills/custom-*/**
